@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background-image: url('images/simpson.jpg'); 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 800px;
    height: 600px;
    background-color: #fff;
    border: 5px solid #ae91c5;
    color: #000;
    padding: 7px;
}
h2{
    border-bottom: 5px solid #9b58d1;
    text-align: center;
    padding-bottom: 9px;
    font-size: 35px;

}
#palabra{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.letra{
    height: 80px;
    width: 80px;
    border: 4px solid #9b58d1;
    text-align: center;
    margin: 4px;
    font-weight: 600;
    font-size: 50px;
}
.pintar{
    background-color: #02bfa4;;
}
.pintarError{
    background-color: red;
}
h3{
    margin: 4px 0;
    font-weight: normal;
    font-size: 16px;
}
h3 span{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}
button{
    display: block;
    width: fit-content;
    margin: auto;
    background-color:#02bfa4;
    border: 2px solid #02bfa4;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: #02bfa4;
}


.rounded-corner-button {
    position: absolute;
    top: 10px; /* Espacio desde arriba */
    right: 10px; /* Espacio desde la derecha */
    padding: 10px 20px; /* Tama침o del bot칩n */
    border: none;
    border-radius: 10px; /* Esquinas ovaladas */
    background-color:#02bfa4; /* Color de fondo del bot칩n */
    color: #fff; /* Color del texto */
    font-size: 26px; /* Tama침o del texto */
    cursor: pointer;
}